:root{
    --header-background-color: rgb(0,78,180);
    --fonts-border-icons-color: rgb(240,248,255);
    --body-color: rgb(245,245,245);
    --button-color: rgb(0, 158, 231);
    --hover-color: rgb(56,163,255);
    --border-color: rgb(0,78,180);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-section{
  max-width: 80vw;
  margin: 68px auto;
}

.body-section .profile-section .profile-header{
  background-image: url(/public/images/profile-page/slider1.jpg);
  background-size: 100%;
  background-position: center;
  height: 344px;
  border-radius: 16px;
}

.body-section .profile-section .profile-header a{
  text-decoration: none;
}

.body-section .profile-section .profile-header .cover-image-button{
  float: right;
  margin: 288px 26px 0 0;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  background: transparent;
  cursor: pointer;
}

.body-section .profile-section .profile-header .cover-image-button:hover{
  background-color: var(--hover-color);
  transition: all 0.8s;
}

.body-section .profile-section .profile-body{
  background-color: white;
  height: 288px;
  border-radius: 16px;
}

.body-section .profile-section .profile-body .profile-image{
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 4px solid var(--border-color);
}