/* ======== HEADER-SECTION-START ======== */

@media screen and (max-width: 1634px){
    .navber-section nav{
        max-width: 95vw;
    }
}

@media screen and (max-width: 1254px){
    .navber-section nav .meddle .search-box input{
        padding: 8px 88px 8px 88px;
    }
}

@media screen and (max-width: 954px){
    .navber-section nav .meddle .search-box input{
        padding: 8px 34px 8px 34px;
    }

    .navber-section nav .right-side{
        gap: 34px;
    }
}

@media screen and (max-width: 754px){
    .navber-section nav .left-side .logo h1{
        font-size: 26px;
        letter-spacing: 2px;
    }
    .navber-section nav .meddle .search-box input{
        display: none;
    }

    .navber-section nav .meddle .search-box .search-button{
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        margin: 0 0 0 254px;
    }

    .navber-section nav .right-side{
        gap: 16px;
    }
}

@media screen and (max-width: 716px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 248px;
    }
}

@media screen and (max-width: 706px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 244px;
    }
}

@media screen and (max-width: 696px){
    .navber-section nav{
        height: 44px;
    }

    .navber-section nav .right-side{
        gap: 8px;
    }

    .navber-section nav .right-side .login-and-signup{
        padding: 6px 16px 6px 16px;
    }

    .navber-section nav .right-side .profile-image{
        padding: 4px 4px 4px 4px;
    }
    .navber-section nav .meddle .search-box .search-button{
        padding: 6px 16px 6px 16px;
        margin: 0 0 0 226px;
    }
}

@media screen and (max-width: 680px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 188px;
    }
}

@media screen and (max-width: 640px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 154px;
    }
}

@media screen and (max-width: 626px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 134px;
    }
}

@media screen and (max-width: 588px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 126px;
    }
}

@media screen and (max-width: 578px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 116px;
    }
}

@media screen and (max-width: 558px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 96px;
    }
}

@media screen and (max-width: 540px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 88px;
    }
}

@media screen and (max-width: 496px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 78px;
    }
}

@media screen and (max-width: 488px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 68px;
    }
}

@media screen and (max-width: 478px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 58px;
    }
}

@media screen and (max-width: 468px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 48px;
    }
}

@media screen and (max-width: 458px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 34px;
    }
}

@media screen and (max-width: 448px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 26px;
    }
}

@media screen and (max-width: 434px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 16px;
    }
}

@media screen and (max-width: 426px){
    .navber-section nav .meddle .search-box .search-button{
        margin: 0 0 0 8px;
    }
}