/* ======== HEADER-SECTION-START ======== */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-section {
  background-color: aliceblue;
}

/* -------- NAVBER-SECTION-START -------- */

.navber-section nav {
  max-width: 80vw;
  margin: auto;
  height: 54.44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navber-section nav .left-side .logo h1 {
  font-size: 34px;
  color: blue;
  letter-spacing: 4px;
}

.navber-section nav .meddle .search-box input {
  padding: 8px 216px 8px 216px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: none;
}

.navber-section nav .meddle .search-box .search-button {
  padding: 8px 16px 8px 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: none;
}

.navber-section nav .meddle .search-box a {
  text-decoration: none;
  color: black;
}

.navber-section nav .right-side {
  display: flex;
  gap: 88px;
}

.navber-section nav .right-side .login-and-signup {
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: none;
}

.navber-section nav .right-side a {
  text-decoration: none;
  color: black;
}

.navber-section nav .right-side .profile-image {
  padding: 8px 8px 8px 8px;
  border-radius: 26px;
  border-color: blue;
}

/* -------- NAVBER-SECTION-COMPLETE -------- */

/* ======== BODY-SECTION-START ======== */

body{
  background-color: whitesmoke;
}

.body-section{
  max-width: 80vw;
  margin: 0px auto;
}