:root{
    --header-background-color: rgb(0,78,180);
    --fonts-border-icons-color: rgb(240,248,255);
    --body-color: rgb(245,245,245);
    --button-color: rgb(0, 158, 231);
    --hover-color: rgb(56,163,255);
    --border-color: rgb(0,78,180);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-color);
}

.form-container {
    background-color: white;
    padding: 26px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 488px;
    text-align: center;
}

.form-container .text{
    font-size: 26px;
    margin: 0 0 16px 0;
    letter-spacing: 2px;
    color: rgb(63, 216, 255);
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.form-toggle button {
    background-color: var(--button-color);
    color: aliceblue;
    padding: 10px 54px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.form-toggle button:hover {
    background-color: var(--hover-color);
}

.form-toggle #login-toggle{
    font-size: 16px;
}

.form-toggle #signup-toggle{
    font-size: 16px;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 16px;
    transition: border-color 0.4s ease;
}

.form-group input:focus {
    border-color: var(--border-color);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 16px;
    background-color: var(--button-color);
    color: aliceblue;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}

.error {
    color: red;
    margin-top: 10px;
}